@import url('/index.css');


.image-container {
    display: flex;
    justify-content: center;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: var(--bg-color);
}

.image {
    max-inline-size: 100%;
    block-size: auto;
}

.round {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
}