<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garuda/Grid</title>
    <link rel="stylesheet" href="/index.css">
    <script src="https://kit.fontawesome.com/108bfd668b.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="landing-header">
        <nav class="navbar">
            Garuda UI
            <ul class="nav-items">
                <li><a class="nav-icons anchor-style pointer" href="/documentation/documentation.html">documentation</a>
                </li>
            </ul>
            <div class="social">
                <a href="https://github.com/tushargoyal812" class="nav-icons anchor-style"><i
                        class="fab fa-github"></i></a>
                <a href="https://twitter.com/tushargoyal29" class="nav-icons anchor-style"><i
                        class="fab fa-twitter-square"></i></a>
                <a href="https://www.linkedin.com/in/tushargoyal29/" class="nav-icons anchor-style"><i
                        class="fab fa-linkedin"></i></a>
            </div>
        </nav>
    </header>
    <div class="main-with-sidebar">
        <aside class="sidebar">
            <h1>Get started</h1>
            <hr class="hr-margin">
            <ul class="sidebar-list">
                <li class="sidebar-items"><a class="anchor-style links"
                        href="/documentation/documentation.html">Introduction</a></li>
                <li class="sidebar-items"><a class="anchor-style links"
                        href="/components/text-utils/text-utils.html">Typography</a></li>
            </ul>
            <h1>Components</h1>
            <hr class="hr-margin">
            <ul class="sidebar-list">
                <li class="sidebar-items"><a class="anchor-style links" href="/components/avatar/avatar.html">Avatar</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links"
                        href="/components/alert/alert.html">Alert</a></li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/badge/badge.html">Badge</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/button/button.html">Button</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/cards/card.html">Cards</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/image/image.html">Image</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/input/input.html">Input</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/list/list.html">Lists</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links"
                        href="/components/navigation/navigation.html">Navigation</a></li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/modal/modal.html">Modal</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links"
                        href="/components/ratings/ratings.html">Ratings</a></li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/toast/toast.html">Toast</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links page-active" href="/components/grid/grid.html">grid</a>
                </li>
            </ul>
        </aside>
        <main class="main-section">
            <h1 class="headings">Grid</h1>
            <p class="heading-details">
                An alert displays a short, important message in a way that attracts the user's attention without
                interrupting the user's task,there are different types of alerts-error alert, success alert, information
                alert and warning alert.
            </p>
            <hr class="hr-margin">
            <h2>Grid-2</h2>
            <p class="heading-details">
                Simple Alerts can be created using alert class, followed by the variant name.
            </p>
            <div class="grid-2-container">
                <div class="grid-2-child">child 1</div>
                <div class="grid-2-child">child 2</div>
                <div class="grid-2-child">child 3</div>
                <div class="grid-2-child">child 4</div>
            </div>
        </main>
    </div>
    <div class="footer-link-container"><a href="/components/toast/toast.html" class="footer-link">
            < Toast</a> <a href="/index.html" class="footer-link">End >
        </a>
    </div>
    <footer class="name-footer">
        <p class="footer-text">Design and developed by <span class="text-primary">tushar goyal</span></p>
    </footer>
</body>
</html>