@import url('/index.css');


.input-parent-container {
    width: 70%;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: var(--bg-color);
}

.input-container {
    width: 100%;
}

.input-label {
    display: block;
    font-size: 1.5rem;
}

.text-input {
    width: 70%;
    height: 2.5rem;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.wrong-password {
    color: var(--danger-color);
}

.error-validation {
    color: var(--danger-color);
}

.error-input {
    border: 2px solid var(--danger-color);

    color: var(--danger-color);
}




.error:focus {
    outline: none;
}

.success-input {
    border: 2px solid var(--success-color);
}

.success-validation {
    color: var(--success-color);
}

.success-password {
    color: var(--success-color);
}


.success:focus {
    outline: none;
}