<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garuda/Avatar</title>
    <link rel="stylesheet" href="/index.css">
    <script src="https://kit.fontawesome.com/108bfd668b.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/images/garuda-2.jpg" type="image/x-icon">
</head>

<body>
    <header class="landing-header">
        <nav class="navbar">
            Garuda UI
            <ul class="nav-items">
                <li><a class="nav-icons anchor-style pointer" href="/documentation/documentation.html">documentation</a>
                </li>
            </ul>
            <div class="social">
                <a href="https://github.com/tushargoyal812" class="nav-icons anchor-style"><i
                        class="fab fa-github"></i></a>
                <a href="https://twitter.com/tushargoyal29" class="nav-icons anchor-style"><i
                        class="fab fa-twitter-square"></i></a>
                <a href="https://www.linkedin.com/in/tushargoyal29/" class="nav-icons anchor-style"><i
                        class="fab fa-linkedin"></i></a>
            </div>
        </nav>
    </header>
    <div class="main-with-sidebar">
            <aside class="sidebar">
                <h1>Get started</h1>
                <hr class="hr-margin">
                <ul class="sidebar-list">
                    <li class="sidebar-items"><a class="anchor-style links"
                            href="/documentation/documentation.html">Introduction</a></li>
                    <li class="sidebar-items"><a class="anchor-style links"
                            href="/components/text-utils/text-utils.html">Typography</a></li>
                </ul>
                <h1>Components</h1>
                <hr class="hr-margin">
                <ul class="sidebar-list">
                    <li class="sidebar-items"><a class="anchor-style links page-active"
                            href="/components/avatar/avatar.html">Avatar</a></li>
                    <li class="sidebar-items"><a class="anchor-style links"
                            href="/components/alert/alert.html">Alert</a></li>
                    <li class="sidebar-items"><a class="anchor-style links"
                            href="/components/badge/badge.html">Badge</a></li>
                    <li class="sidebar-items"><a class="anchor-style links"
                            href="/components/button/button.html">Button</a></li>
                    <li class="sidebar-items"><a class="anchor-style links" href="/components/cards/card.html">Cards</a>
                    </li>
                    <li class="sidebar-items"><a class="anchor-style links"
                            href="/components/image/image.html">Image</a></li>
                    <li class="sidebar-items"><a class="anchor-style links"
                            href="/components/input/input.html">Input</a></li>
                    <li class="sidebar-items"><a class="anchor-style links" href="/components/list/list.html">Lists</a>
                    </li>
                    <li class="sidebar-items"><a class="anchor-style links"
                            href="/components/navigation/navigation.html">Navigation</a></li>
                    <li class="sidebar-items"><a class="anchor-style links"
                            href="/components/modal/modal.html">Modal</a></li>
                    <li class="sidebar-items"><a class="anchor-style links"
                            href="/components/ratings/ratings.html">Ratings</a></li>
                    <li class="sidebar-items"><a class="anchor-style links"
                            href="/components/toast/toast.html">Toast</a></li>
                    <li class="sidebar-items"><a class="anchor-style links" href="/components/grid/grid.html">grid</a>
                    </li>
                </ul>
            </aside>
        <main class="main-section">
            <h1 class="headings">Avatar</h1>
            <p class="heading-details">
                Avatars are user profile pictures, usually found in circular shapes. Avatars can be used for 'container'
                objects — projects, spaces, repositories, etcetera — to give them a recognisable visual identity.
            </p>
            <hr class="hr-margin">
            <h2>Profile Avatar</h2>
            <p class="heading-details">
                Profile Avatars can be created using the class 'avatar', inside the img tag.
            </p>
            <section class="avatar-img">
                <img class="avatar" src="/images/random.png" alt="avatar-1">
                <img class="avatar" src="/images/shinchan.jpg" alt="avatar-3">
                <img class="avatar" src="/images/khaby.png" alt="avatar-2">
            </section>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522avatar%2522%2520src%253D%2522%252Fimages%252Frandom.png%2522%2520alt%253D%2522avatar-1%2522%253E%250A%253Cimg%2520class%253D%2522avatar%2522%2520src%253D%2522%252Fimages%252Fshinchan.jpg%2522%2520alt%253D%2522avatar-3%2522%253E%250A%253Cimg%2520class%253D%2522avatar%2522%2520src%253D%2522%252Fimages%252Fkhaby.png%2522%2520alt%253D%2522avatar-2%2522%253E"
                style="width: 100%; height: 130px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <hr class="hr-margin">
            <h2>Sizes Avatar</h2>
            <p class="heading-details">
                Size of the avatars can be changed by adding sm | md | lg class to the existing avatar class.
            </p>
            <section class="avatar-img">
                <img class="avatar sm" src="/images/random.png" alt="avatar-1">
                <img class="avatar md" src="/images/shinchan.jpg" alt="avatar-3">
                <img class="avatar lg" src="/images/khaby.png" alt="avatar-2">
            </section>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522avatar%2520sm%2522%2520src%253D%2522%252Fimages%252Frandom.png%2522%2520alt%253D%2522avatar-1%2522%253E%250A%253Cimg%2520class%253D%2522avatar%2520md%2522%2520src%253D%2522%252Fimages%252Fshinchan.jpg%2522%2520alt%253D%2522avatar-3%2522%253E%250A%253Cimg%2520class%253D%2522avatar%2520lg%2522%2520src%253D%2522%252Fimages%252Fkhaby.png%2522%2520alt%253D%2522avatar-2%2522%253E"
                style="width: 100%; height: 130px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <hr class="hr-margin">
            <h2>Square Avatar</h2>
            <p class="heading-details">
                Adding a class 'sq' to existing class, will generate a square shaped avatar.
            </p>
            <section class="avatar-img">
                <img class="avatar sm sq" src="/images/random.png" alt="avatar-1">
                <img class="avatar md sq" src="/images/shinchan.jpg" alt="avatar-3">
                <img class="avatar lg sq" src="/images/khaby.png" alt="avatar-2">
            </section>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522avatar%2520sm%2520sq%2522%2520src%253D%2522%252Fimages%252Frandom.png%2522%2520alt%253D%2522avatar-1%2522%253E%250A%253Cimg%2520class%253D%2522avatar%2520md%2520sq%2522%2520src%253D%2522%252Fimages%252Fshinchan.jpg%2522%2520alt%253D%2522avatar-3%2522%253E%250A%253Cimg%2520class%253D%2522avatar%2520lg%2520sq%2522%2520src%253D%2522%252Fimages%252Fkhaby.png%2522%2520alt%253D%2522avatar-2%2522%253E"
                style="width: 100%; height: 130px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </main>
    </div>
    <div class="footer-link-container"><a href="/components/text-utils/text-utils.html" class="footer-link"> < Typorgraphy</a>
        <a href="/components/alert/alert.html" class="footer-link">Alert ></a>
    </div>
    <footer class="name-footer">
        <p class="footer-text">Design and developed by <span class="text-primary">tushar goyal</span></p>
    </footer>
</body>

</html>