<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garuda/Typography</title>
    <link rel="stylesheet" href="/index.css">
    <script src="https://kit.fontawesome.com/108bfd668b.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/images/garuda-2.jpg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <header class="landing-header">
        <nav class="navbar">
            <a class="garuda-logo" href="/index.html">
                Garuda UI
            </a>
            <ul class="nav-items">
                <li><a class="nav-icons anchor-style pointer" href="/documentation/documentation.html">documentation</a>
                </li>
            </ul>
            <div class="social">
                <a href="https://github.com/tushargoyal812" class="nav-icons anchor-style"><i
                        class="fab fa-github"></i></a>
                <div>
                    <span id="hamburger" class="material-icons">
                        menu
                    </span>
                    <span id="cross" class="material-icons">
                        close
                    </span>
                </div>
            </div>
        </nav>
    </header>
    <div class="main-with-sidebar">
        <aside class="responsive-sidebar">
            <h1>Get started</h1>
            <hr class="hr-margin">
            <ul class="sidebar-list">
                <li class="sidebar-items"><a class="anchor-style links"
                        href="/documentation/documentation.html">Introduction</a></li>
                <li class="sidebar-items"><a class="anchor-style links page-active"
                        href="/components/text-utils/text-utils.html">Typography</a></li>
            </ul>
            <h1>Components</h1>
            <hr class="hr-margin">
            <ul class="sidebar-list">
                <li class="sidebar-items"><a class="anchor-style links"
                        href="/components/avatar/avatar.html">Avatar</a></li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/alert/alert.html">Alert</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/badge/badge.html">Badge</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/button/button.html">Button</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/cards/card.html">Cards</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/image/image.html">Image</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/input/input.html">Input</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/list/list.html">Lists</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links"
                        href="/components/navigation/navigation.html">Navigation</a></li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/modal/modal.html">Modal</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links"
                        href="/components/ratings/ratings.html">Ratings</a></li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/toast/toast.html">Toast</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/grid/grid.html">grid</a>
                </li>
            </ul>
        </aside>
        <aside class="sidebar">
            <h1>Get started</h1>
            <hr class="hr-margin">
            <ul class="sidebar-list">
                <li class="sidebar-items"><a class="anchor-style links "
                        href="/documentation/documentation.html">Introduction</a></li>
                <li class="sidebar-items"><a class="anchor-style links page-active"
                        href="/components/text-utils/text-utils.html">Typography</a></li>
            </ul>
            <h1>Components</h1>
            <hr class="hr-margin">
            <ul class="sidebar-list">
                <li class="sidebar-items"><a class="anchor-style links" href="/components/avatar/avatar.html">Avatar</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/alert/alert.html">Alert</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/badge/badge.html">Badge</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/button/button.html">Button</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/cards/card.html">Cards</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/image/image.html">Image</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/input/input.html">Input</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/list/list.html">Lists</a></li>
                <li class="sidebar-items"><a class="anchor-style links"
                        href="/components/navigation/navigation.html">Navigation</a></li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/modal/modal.html">Modal</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links"
                        href="/components/ratings/ratings.html">Ratings</a></li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/toast/toast.html">Toast</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/grid/grid.html">grid</a>
                </li>
            </ul>
        </aside>
        <main class="main-section">
            <h1 class="headings">Typography</h1>
            <p class="heading-details">
                Documentation and examples for Garuda typography, including global settings, headings, body text, small
                text, gray text and center text.
            </p>
            <hr class="hr-margin">
            <h2>Headings</h2>
            <p class="heading-details">
                All HTML headings, &lt;h1&gt; through &lt;h6&gt;, are available.you can easily use these typroghraphies
                in your projects.
            </p>
            <div class="heading-container mg-auto flex flex-direction-col align-items justify-content pb-2">
                <h1>This is heading 1</h1>
                <div class="m-0-25"></div>
                <h2>This is heading 2</h2>
                <div class="m-0-25"></div>
                <h3>This is heading 3</h3>
                <div class="m-0-25"></div>
                <h4>This is heading 4</h4>
                <div class="m-0-25"></div>
                <h5>This is heading 5</h5>
                <div class="m-0-25"></div>
                <h6>This is heading 6</h6>
            </div>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%2855%2C52%2C18%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Ch1%253EThis%2520is%2520heading%25201%253C%252Fh1%253E%250A%253Ch2%253EThis%2520is%2520heading%25202%253C%252Fh2%253E%250A%253Ch3%253EThis%2520is%2520heading%25203%253C%252Fh3%253E%250A%253Ch4%253EThis%2520is%2520heading%25204%253C%252Fh4%253E%250A%253Ch5%253EThis%2520is%2520heading%25205%253C%252Fh5%253E%250A%253Ch6%253EThis%2520is%2520heading%25206%253C%252Fh6%253E"
                style="width: 100%; height: 172px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <hr class="hr-margin">
            <h2>Small text</h2>
            <p class="heading-details">
                we can use small text when we want.
            </p>
            <div class="heading-container mg-auto flex flex-direction-col align-items justify-content p-2">
                <small>This is small</small>
            </div>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%2855%2C52%2C18%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Csmall%253EThis%2520is%2520small%253C%252Fsmall%253E"
                style="width: 100%; height: 79px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <hr class="hr-margin">
            <h2>Grey text</h2>
            <p class="heading-details">
                This is a grey text you can use this your projects.
            </p>
            <div class="heading-container mg-auto flex flex-direction-col align-items justify-content p-2">
                <div class="grey-text">This is grey text</div>
            </div>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%2855%2C52%2C18%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522grey-text%2522%253EThis%2520is%2520grey%2520text%253C%252Fdiv%253E"
                style="width: 100%; height: 79px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <hr class="hr-margin">
            <h2>Center text</h2>
            <p class="heading-details">
                You can use 'center-text' class and make your texts center in your page.
            </p>
            <div class="heading-container mg-auto p-2">
                <div class="center-text">this is a center text</div>
            </div>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%2855%2C52%2C18%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522center-text%2522%253Ethis%2520is%2520a%2520center%2520text%253C%252Fdiv%253E"
                style="width: 100%; height: 79px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </main>
    </div>
    <div class="footer-icon-container flex justify-content-center p-2">
        <a href="https://github.com/tushargoyal812" class="nav-icons-footer anchor-style"><i class="fab fa-github"></i></a>
        <a href="https://twitter.com/tushargoyal29" class="nav-icons-footer anchor-style"><i
                class="fab fa-twitter-square"></i></a>
        <a href="https://www.linkedin.com/in/tushargoyal29/" class="nav-icons-footer anchor-style"><i
                class="fab fa-linkedin"></i></a>
    </div>
    <script src="/index.js"></script>
</body>

</html>