@import url('/index.css');

.toast{
    display: flex;
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 1rem;
    border-radius: 0.5rem;
    width: 35%;
    flex-wrap: wrap;
}
.retry{
    margin-left: auto;
    color: blueviolet;
    cursor: pointer;
}

.toast-container{
    display: flex;
    justify-content: center;
    border: 2px solid var(--gray-color);
    padding: 3rem 0rem;
    border-radius: 5px;
    background-color: var(--bg-color);
}


.snackbar{
    display: flex;
    background-color:var(--secondary-color);
    color: var(--white-color);
    padding: 0.8rem;
    gap: 1rem;
    border-radius: 4px;
    width: 35%;
    flex-wrap: wrap;
}

.retry{
    color: blueviolet;
    cursor: pointer;
}

.cancel{
    cursor: pointer;
}