@import url(/index.css);
/* @import url(/variable.css);
@import url(/documentation/documentation.css); */

.badges {
    width: 25rem;
    margin: auto;
    border: 2px solid gray;
    border-radius: 5px;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.badge {
    font-size: 3rem;
    margin: 2rem;
}

.fa-spotify {
    color: #1DB954;
    position: relative;
}

.fa-facebook-square {
    color: #4267B2;
    position: relative;
    background-color: #fff;
}

.fa-whatsapp-square {
    color: #25D366;
    position: relative;
}

.icon {
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    background-color: orangered;
    font-size: 1rem;
    color: #fff;
    position: absolute;
    text-align: center;
    bottom: 2.2rem;
    left: 2rem;
}


.avatar-img {
    width: 25rem;
    height: 8rem;
    border: 2px solid gray;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.avatar {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: relative;
}

.sm {
    height: 2rem;
    width: 2rem;
}

.md {
    height: 3rem;
    width: 3rem;
}

.lg {
    height: 4rem;
    width: 4rem;
}

.sq {
    border-radius: 5px;
}

.badge-on-avatar {
    position: relative;
}

.offline-badge {
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    background-color: gray;
    position: absolute;
    bottom: 0.5rem;
    left: 2.2rem;
    border: 3px solid rgb(245, 238, 238);
}

.dnd-badge {
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    background-color: red;
    position: absolute;
    bottom: 0.5rem;
    left: 2.2rem;
    border: 3px solid rgb(245, 238, 238);
}

.online-badge {
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    background-color: #1DB954;
    position: absolute;
    bottom: 0.5rem;
    left: 2.2rem;
    border: 3px solid rgb(245, 238, 238);
}