<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal</title>
    <link rel="stylesheet" href="/components/modal/modal.css">
    <script src="https://kit.fontawesome.com/108bfd668b.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/images/garuda-2.jpg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <header class="landing-header">
        <nav class="navbar">
            <a class="garuda-logo" href="/index.html">
                Garuda UI
            </a>
            <ul class="nav-items">
                <li><a class="nav-icons anchor-style pointer" href="/documentation/documentation.html">documentation</a>
                </li>
            </ul>
            <div class="social">
                <a href="https://github.com/tushargoyal812" class="nav-icons anchor-style"><i
                        class="fab fa-github"></i></a>
                <div>
                    <span id="hamburger" class="material-icons">
                        menu
                    </span>
                    <span id="cross" class="material-icons">
                        close
                    </span>
                </div>
            </div>
        </nav>
    </header>
    <div class="main-with-sidebar">
        <aside class="responsive-sidebar">
            <h1>Get started</h1>
            <hr class="hr-margin">
            <ul class="sidebar-list">
                <li class="sidebar-items"><a class="anchor-style links"
                        href="/documentation/documentation.html">Introduction</a></li>
                <li class="sidebar-items"><a class="anchor-style links"
                        href="/components/text-utils/text-utils.html">Typography</a></li>
            </ul>
            <h1>Components</h1>
            <hr class="hr-margin">
            <ul class="sidebar-list">
                <li class="sidebar-items"><a class="anchor-style links "
                        href="/components/avatar/avatar.html">Avatar</a></li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/alert/alert.html">Alert</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/badge/badge.html">Badge</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/button/button.html">Button</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/cards/card.html">Cards</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/image/image.html">Image</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/input/input.html">Input</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/list/list.html">Lists</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links"
                        href="/components/navigation/navigation.html">Navigation</a></li>
                <li class="sidebar-items"><a class="anchor-style links page-active" href="/components/modal/modal.html">Modal</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links"
                        href="/components/ratings/ratings.html">Ratings</a></li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/toast/toast.html">Toast</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/grid/grid.html">grid</a>
                </li>
            </ul>
        </aside>
        <aside class="sidebar">
            <h1>Get started</h1>
            <hr class="hr-margin">
            <ul class="sidebar-list">
                <li class="sidebar-items"><a class="anchor-style links "
                        href="/documentation/documentation.html">Introduction</a></li>
                <li class="sidebar-items"><a class="anchor-style links"
                        href="/components/text-utils/text-utils.html">Typography</a></li>
            </ul>
            <h1>Components</h1>
            <hr class="hr-margin">
            <ul class="sidebar-list">
                <li class="sidebar-items"><a class="anchor-style links" href="/components/avatar/avatar.html">Avatar</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/alert/alert.html">Alert</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/badge/badge.html">Badge</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/button/button.html">Button</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/cards/card.html">Cards</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/image/image.html">Image</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/input/input.html">Input</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/list/list.html">Lists</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links"
                        href="/components/navigation/navigation.html">Navigation</a></li>
                <li class="sidebar-items"><a class="anchor-style links page-active"
                        href="/components/modal/modal.html">Modal</a></li>
                <li class="sidebar-items"><a class="anchor-style links"
                        href="/components/ratings/ratings.html">Ratings</a></li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/toast/toast.html">Toast</a>
                </li>
                <li class="sidebar-items"><a class="anchor-style links" href="/components/grid/grid.html">grid</a>
                </li>
            </ul>
        </aside>
        <main class="main-section">
            <h1 class="headings">Modal</h1>
            <p class="heading-details">
                Below is a static modal example. Included are the modal header, modal body (required for padding), and
                modal footer (optional), provide another explicit dismiss action.
            </p>
            <hr class="hr-margin">
            <div class="modal-container mg-auto flex justify-content-center">
                <div class="modal">
                    <div class="modal-title">Modal Title</div>
                    <hr>
                    <div class="modal-body">
                        modal body text
                    </div>
                    <hr>
                    <div class="modal-footer">
                        <a href="" class="modal-link">Ok</a>
                        <a href="" class="modal-link">Cancel</a>
                    </div>
                </div>
                <button class="btn basic modal-btn">Open Modal</button>
            </div>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%2855%2C52%2C18%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522modal%2522%253E%250A%2520%2520%253Cdiv%2520class%253D%2522modal-title%2522%253EModal%2520Title%253C%252Fdiv%253E%250A%2520%2520%253Chr%253E%250A%2520%2520%253Cdiv%2520class%253D%2522modal-body%2522%253E%250A%2520%2520%2520%2520%2520%2520modal%2520body%2520text%250A%2520%2520%253C%252Fdiv%253E%250A%2520%2520%253Chr%253E%250A%2520%2520%253Cdiv%2520class%253D%2522modal-footer%2522%253E%250A%2520%2520%2520%2520%2520%2520%253Ca%2520href%253D%2522%2522%2520class%253D%2522modal-link%2522%253EOk%253C%252Fa%253E%250A%2520%2520%2520%2520%2520%2520%253Ca%2520href%253D%2522%2522%2520class%253D%2522modal-link%2522%253ECancel%253C%252Fa%253E%250A%2520%2520%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
                style="width: 100%; height: 283px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </main>
    </div>
    <div class="footer-icon-container flex justify-content-center p-2">
        <a href="https://github.com/tushargoyal812" class="nav-icons-footer anchor-style"><i class="fab fa-github"></i></a>
        <a href="https://twitter.com/tushargoyal29" class="nav-icons-footer anchor-style"><i
                class="fab fa-twitter-square"></i></a>
        <a href="https://www.linkedin.com/in/tushargoyal29/" class="nav-icons-footer anchor-style"><i
                class="fab fa-linkedin"></i></a>
    </div>
    <script src="/index.js"></script>
    <script src="/components/modal/modal.js"></script>
</body>

</html>