@import url('/index.css');


.alert-bg {
    background-color: var(--white-color);
}

.alert-container {
    width: 70%;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 22rem;
    border-radius: 5px;
    background-color: var(--bg-color);
}

.alert {
    padding: 1rem 2rem 1rem 0.7rem;
    margin: 0.5rem;
    border-radius: 5px;
    color: var(--white-color);
    width: 80%;
}

.information {
    background-color: var(--information-color);
}

.success {
    background-color: var(--success-color);
}

.error {
    background-color: var(--danger-color);
}

.warning {
    background-color: var(--warning-color);
}


.information-border {
    border: 2px solid var(--information-color);
    color: var(--information-color);
}

.success-border {
    border: 2px solid var(--success-color);
    color: var(--success-color);
}

.error-border {
    border: 2px solid var(--danger-color);
    color: var(--danger-color);
}

.warning-border {
    border: 2px solid var(--warning-color);
    color: var(--warning-color);
}

.fa-info-circle {
    margin: 0rem 1.2rem;
}

.fa-check-circle {
    margin: 0rem 1.2rem;
}

.fa-skull-crossbones {
    margin: 0rem 1.2rem;
}

.fa-exclamation-triangle {
    margin: 0rem 1.2rem;
}