@import url('/util.css');
@import url('/index.css');


.main-with-sidebar{
    display: flex;
}

.headings{
    font-size: 3rem;
    margin: 2rem 0rem;
}

.sidebar-wrapper{
    box-shadow: 5px 5px 5px gray;
    width: 23rem;
}

.sidebar-list{
    list-style: none;
    text-align: center;
    margin: 0rem 2rem;
}

.sidebar{
    color: var(--secondary-color);
    width: 23rem;
    text-align: center;
}

.sidebar-items{
    padding: 1rem;
    border-radius: 3px;
}


.links{
    color: var(--secondary-color);
    border-radius: 3px;
}

.links:hover{
    color: var(--primary-color);
}

.main-section{
    color: var(--secondary-color);
    margin:2rem;
    line-height: 1.5rem;
}

.heading-details{
    margin: 1rem 0rem;
}

.hr-margin{
    margin: 1rem;
}


h1{
    margin-top: 2rem;
}

.page-active{
    color: var(--primary-color);
}